<h2>Details celebrity</h2>

<h4>Name:</h4><p>{{oneCelebrity.name}}</p>
<h4>Ocuppation:</h4><p>{{oneCelebrity.occupation}}</p>
<h4>Catch phrase:</h4><p>{{oneCelebrity.catchPhrase}}</p>



<form  method="POST" action="/celebrities/{{oneCelebrity._id}}/delete"><button class="testbutton">Delete</button></form>
<form  method="get" action="/celebrities/{{oneCelebrity._id}}/edit"><button class="testbutton">edit</button></form>
